@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

button {
  font-family:inherit;
  background-color: #756157;
  color:#FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform:uppercase;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
}

.button {
  font-family:inherit;
  background-color:#82B3D3;
  color:#FFFFFF;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px 8px 50px;
}

.navigation {
  font-size: 20px;
  Line-height:24px;
  font-weight: 700;
  color: #000000;
}

.navigation-button {
  font-size: 16px;
  Line-height:20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform:uppercase;
  text-decoration: none;
  background-color: #756157;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
}

.navigation-link {
  font-size: 20px;
  Line-height:24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.main-inner {
  background-size: cover; /*есть мысль, что это лишнее*/
  /*color: #333333;*/
  background-color: #FFFFFF;
  text-align: center;
}

.count {
font-size: 10px;

line-height: 10px;
background-color:#7DB54F;
color:#FFFFFF;
}


.slogan {
  color: #000000;
  background-color: #82a9c4;
  background-image: url("../images/mountains_background.jpg");  /*не пойму почему пропала нижняя часть изображения*/
  background-size: cover;
  background-repeat:no-repeat;
}

.advantages-title, .services-title-general, .booking-title, .search-hotels-titles {
  font-size: 30px;
  Line-height:36px;
  font-weight: 700;
  text-transform:uppercase;
  color: #000000;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantagesm-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  background-color:#82B3D3;
  color:#FFFFFF;
}

.advantages-item-blue-title{
  font-size: 24px;
  Line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform:uppercase;
}

.advantages-item-title, .services-title {
  font-size: 24px;
  Line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform:uppercase;
  color: #000000;
}

.advantages-item-description, .services-description, .hotel-card-group, .hotel-card-price {
  font-size: 18px;
  Line-height: 21px;
  text-align: center;
}

.services-item:first-child, .services-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.subscription {
  background-color: #83b3d3;
  color:#FFFFFF;
  background-image: url("../images/background_subscription.jpg"); /*не пойму почему пропала нижняя часть изображения*/
  background-size: cover;
  background-repeat:no-repeat;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color:#FFFFFF;
  text-transform:uppercase;
}

.inner{
  background-color: #83b3d3;
  color:#FFFFFF;
  background-image: url("../images/mountains_background_page_2.jpg"); /*не пойму почему пропала нижняя часть изображения*/
  background-size: cover;
  background-repeat:no-repeat;
}

.catalog-filters-group {
  font-size: 20px;
  Line-height:24px;
  font-weight: 700;
  color: #FFFFFF;
}

.field-e-mail{
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color:#FFFFFF;
}

.phone {
font-size: 40px;
line-height: 40px;
color: #000000;
text-decoration: none;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item{
  font-size: 16px;
  line-height: 21px;
  color:#FFFFFF;
  text-decoration: none;
  text-align: left;
}

.catalog-filters-item{
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.limitation {
  font-size: 18px;
  line-height: 24px;

}

.field {
font-family:inherit;
font-size: 18px;
line-height: 24px;
font-weight: 700;
}

.button-apply {
font-size: 16px;
line-height: 20px;
font-weight: 700;
background-color: #82B3D3;
}

.button-reset  {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color:rgba(130, 179, 211, 0); /*не придумала как по-другому убрать фон кнопки, но появился вопрос - как убрать тень*/
  }

.select-control {
  font-family:inherit;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  }

.hotel-card-link {
font-size: 24px;
line-height: 28px;
font-weight: 700;
color: #000000;
text-decoration: none;
}

.show-more {
font-size: 16px;
font-weight: 700;
line-height: 20px;
color: #FFFFFF;
text-transform:uppercase;
text-decoration: none;
background-color:#756157;
padding: 8px 50px 8px 50px;
border-radius: 4px;
}

.favotite {
font-family:inherit;
font-size: 16px;
font-weight: 700;
line-height: 20px;
color: #FFFFFF;
background-color: #82B3D3;
}

.favotite-added {
font-family:inherit;
font-size: 16px;
font-weight: 700;
line-height: 20px;
color: #FFFFFF;
background-color: #7DB54F;
}

.reputation-result {
font-size: 16px;
line-height: 20px;
}

.pagination-link {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-current {
  background-color:rgba(0, 0, 0, 0.2);
  color: #000000;
  padding: 11.36px 23.45px 12.64px 23.55px;
}

.pagination-link-points {
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
}

.subscription-catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color:#000000;
  background-color: #FFFFFF;
  text-transform:uppercase;
}
